/*Configurações da tag <body>*/
body {
    background-color: rgb(58, 159, 199);
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Configurações da tag <header>*/
header {
    color: white;
    text-align: center;
    font-size: 22pt;
}

/*Configurações da tag <section>*/
section {
    background-color: white;
    width: 600px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 20pt;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.384);
}

/*Configurações da tag <footer>*/
footer {
    font-size: 14pt;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}